body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
}
.header {
    background-color: #444;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .left {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Permite que a área da esquerda cresça para centralizar o conteúdo */
    text-align: center; /* Centraliza o conteúdo internamente */
}

.header .title {
    font-size: 14px;
    margin-left: -75%; /* Espaço entre logo e título */
    flex-grow: 1; /* Permite que o título ocupe espaço e se centralize */
}

.header img {
    height: 60px;
    width: 200px;
}
.header .mqtt {
    display: flex;
    align-items: center;
}
.header .mqtt span {
    margin-left: 10px;
}
.header .mqtt input {
    margin-left: 5px;
    padding: 2px;
    font-size: 14px;
}
.header .mqtt button {
    margin-left: 10px;
    padding: 2px 10px;
    font-size: 14px;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
}
.content {
    display: flex;
    height: calc(100vh - 30px);
}
.left-panel {
    width: 300px;
    background-color: #222;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-panel .data div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.left-panel .data {
    background-color: #111;
    padding: 20px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}
.left-panel .data div span {
    font-size: 20px;
}
.map {
    flex-grow: 1;
    
    background-size: cover;
    background-position: center;
    position: relative;
}

.right-panel {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas com tamanhos iguais */
    gap: 10px; /* Espaçamento entre os gráficos */
    width: 90%;
    height: 50%; /* altura 200px*/
}
.navbar .buttons {
    display: flex;
    gap: 10px;
}
.navbar .buttons button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.navbar .buttons button:hover {
    background-color: #777;
}
