<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoramento Frigorifero</title>
    <link rel="icon" href="{{ url_for('static', filename='logos/logo_polar_beer.png') }}">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <!-- Chart.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="header">
            <div class="left">
                <img alt="Logo" src="{{ url_for('static', filename='logos/logo_polar_beer.png') }}" />
                <span class="title">Monitoramento Frigorifero</span>
            </div>
        </div>
    </nav>
    <div class="content">
        <!-- Controles -->
        <div class="left-panel controls">
            <h3>Configurações</h3>
            <div class="filter-section">
                <label>Temperatura Máxima:</label>
                <input type="number" id="maxTempInput" placeholder="°C">
                <button onclick="setTemperatureLimit()">Definir</button>
            </div>
            <div class="filter-section">
                <label>Horário modo de pico</label>
                <label>Ligar:</label>
                <input type="time" id="picoOn">
                <label>Desligar:</label>
                <input type="time" id="picoOff">
                <button onclick="setPicoSchedule()">Definir</button>
            </div>
            <button class="action-button" onclick="togglePico('on')">Ligar modo de pico</button>
            <button class="action-button" onclick="togglePico('off')">Desligar modo de pico</button>
            <button class="action-button" id="connectBtn">Ligar ventilador</button>
        </div>

        <!-- Gráficos -->
        <div class="right-panel charts">
            <canvas id="temperatureChart"></canvas>
            <canvas id="humidityChart"></canvas>
            <canvas id="fanChart"></canvas>
            <canvas id="picoChart"></canvas>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
